.cuadrado {
    width: 200px;
    height: 200px;
    background-color: gray;
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
  }
  
  .cuadrado.celeste {
    background-color: lightblue;
  }
  
  .cuadrado.rojo {
    background-color: red;
  }